body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  display: flex;
  height: 100vh;
  margin: 0;

}

.row {
  flex: 1;
}

img {
  font-size: 30px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: .5s ease;
}

a {
  font-size: 30px;
  position: absolute;
  color: black;
  transition: .5s ease;
  opacity: 0;

  top: 50%;
  left: 30%;
}

.col {
  padding-right:0;
  padding-left:0;
  &:hover img{
    opacity: 0.3;
  }
  &:hover a{
    opacity: 1;
  }
}

.container-fluid {
  flex: 1;
  position: relative;
  overflow: hidden;
  display: flex;
}