body {
  background-color: #F3F3F4;
  font-family: "open sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}


#first-form {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid #E5E6E7;
  background-color: white;
}

label {
  font-weight: bold;
  font-size: 15px;
  color: #343434;
}

.form-group {
  display: flex;
  justify-content: center;
}

[name='more-benefit'] {
  text-decoration: underline;
  color: #00B7FF;
  &:hover { color: coral; }
  &:active { color: red; }
}

small {
  float: left;
}