
.col-md-4 {
  margin-top: 20px;
  max-width: 350px !important;
  margin-right: 30px !important;
  background-color: white;
  border: 1px solid #F3F3F3;
  border-radius: 3%;

  & span,div {
    margin-top: 20px;
  }
}
