
.nav-pills > li {
  text-align: center;
  background-color: white;
  & > a.active {
    color: black !important;
    background-color: white !important;
    border-bottom: 2px solid coral;
  }
  & > a {
    color: black !important;
  }
}

tbody tr {
  transition: .5s ease;
  &:hover {
    color: coral;
    border-bottom: 1px solid #7BDBF8;
  }
}