* {
  margin: 0 auto;
  position: relative;
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.container-fluid {
  background-color: aqua;
  height: 150px;
  position: absolute;
}

.container {
  max-width: 60%;
  box-shadow: -10px -10px 30px 4px rgba(0,0,0,0.1), 10px 10px 30px 4px rgba(45,78,255,0.15);
  background-color: linen;
  position: absolute;
  left: 20%;
  transform: translateY(-15%);
  margin-bottom: 30px;
  border-radius: 1%;
}

form {
  padding: 20px 20px;
}