
[name='seeker-list'] {
  height: 500px;
  overflow: auto;
}

[name='seeker-info'] {
  height: 500px;
}

.primary-info, .cv-file {
  margin-top: 10px;
  overflow: hidden;
}

#main-content {
  margin-bottom: 50px;
}