<div class="card">
    <div class="card-header">
        <h3>Đăng Tuyển Dụng</h3>
    </div>
    <div class="card-body">
        <!--BASIC PACKAGE-->
        <div class="row">
            <div class="col-xl-6 d-flex flex-column mb-md-3 mb-xl-5">
                <h5 class="card-title package-name mb-3">
                    <span>Đăng Tuyển Cơ Bản</span>
                </h5>
                <ul class="card-text list-unstyled" name="basic">
                    <li class="">
                        <span>Nhận ngay hồ sơ ứng tuyển chất lượng</span>
                    </li>
                    <li class="">
                        <span>Dễ dàng đăng tuyển chỉ trong vài phút</span>
                    </li>
                    <li class="">
                        <span>Mở rộng tìm kiếm ứng viên hiệu quả trên trên máy tính và các thiết bị di động</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3">
                <p>
                    <span>Chương trình giảm giá</span>
                    <span class="fa fa-chevron-circle-down"></span>
                </p>
            </div>
            <div class="col-xl">
                <p name="price"><strong>1.722.150đ</strong></p>
            </div>
            <div class="col-xl">
                <button type="button" class="btn btn-outline-dark">Thêm</button>
            </div>
        </div>

        <!--TITLE ENHANCE PACKAGE-->
        <p class="lead">
            <span>Dịch vụ gia tăng mức độ hiển thị tin tuyển dụng của bạn</span>
        </p>
        <!--ENHANCE PACKAGE-->
        <div class="row bg-gray">
            <div class="col-xl-6 d-flex flex-column mb-md-3 mb-xl-5">
                <h5 class="card-title package-name mb-3">
                    <span>Làm mới tin tuyển dụng</span>
                </h5>
                <ul class="card-text list-unstyled">
                    <li>
                        <span>Tin tuyển dụng được tự động làm mới giúp vị trí tuyển dụng
                        tái hiển thị tại khu vực đầu trang kết quả tìm kiếm.</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3">
                <p>
                    <span>Chương trình giảm giá</span>
                    <span class="fa fa-chevron-circle-down"></span>
                </p>
            </div>
            <div class="col-xl">
                <p name="price"><strong>948.150đ</strong></p>
            </div>
            <div class="col-xl">
                <button type="button" class="btn btn-outline-dark">Thêm</button>
            </div>
        </div>
        <div class="row bg-white">
            <div class="col-xl-6 d-flex flex-column mb-md-3 mb-xl-5">
                <h5 class="card-title package-name mb-3">
                    <span>Tự Động Làm Mới Tin Tuyển Dụng Hằng Tuần</span>
                </h5>
                <ul class="card-text list-unstyled">
                    <li>
                        <span>Tin tuyển dụng được tự động làm mới trong 7 ngày liên tiếp giúp vị trí tuyển dụng liên tục
                        xuất hiện tại khu vực đầu trang kết quả tìm kiếm.</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3">
                <p>
                    <span>Chương trình giảm giá</span>
                    <span class="fa fa-chevron-circle-down"></span>
                </p>
            </div>
            <div class="col-xl">
                <p name="price"><strong>3.695.850đ</strong></p>
            </div>
            <div class="col-xl">
                <button type="button" class="btn btn-outline-dark">Thêm</button>
            </div>
        </div>
        <div class="row bg-gray">
            <div class="col-xl-6 d-flex flex-column mb-md-3 mb-xl-5">
                <h5 class="card-title package-name mb-3">
                    <span>Ưu Tiên Ngành Nghề</span>
                </h5>
                <ul class="card-text list-unstyled">
                    <li>
                        <span>Vị trí tuyển dụng sẽ được đăng ở khu vực ưu tiên trong 1 ngành nghề tương ứng trong 15 ngày.</span>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3">
                <p>
                    <span>Chương trình giảm giá</span>
                    <span class="fa fa-chevron-circle-down"></span>
                </p>
            </div>
            <div class="col-xl">
                <p name="price"><strong>2.883.150đ</strong></p>
            </div>
            <div class="col-xl">
                <button type="button" class="btn btn-outline-dark">Thêm</button>
            </div>
        </div>
    </div>
</div>