.navbar-nav > li > a, .navbar-brand {
  margin-top: 0px !important;
  margin-top: 0px !important;
}

.navbar {
  background-color: #006C9A;
  max-height: 4.5em !important;
}

.nav .btn:not([name="employer-menu"]){
  color: white;
  background-color: #006C9A;
  border: white;
  &:first-child {
    margin-right: 10px;
  }
}

[name="employer-menu"] {
  &:hover {
    background-color: #006C9A;
  }
}