<div class="container d-inline-flex justify-content-center ">
    <nav class="navbar navbar-expand-xl">
        <ul class="nav navbar-nav row">
            <li class="nav-item col-5" >
                <div class="input-group">
                    <input type="search" class="form-control" />
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary">
                            <span class="fas fa-search" />
                        </button>
                    </div>
                </div>
            </li>
            <li class="nav-item col-3">
                <select class="form-control">
                    <option>Chọn ngành nghề</option>
                </select>
            </li>
            <li class="nav-item col-3">
                <select class="form-control">
                    <option>Chọn thành phố</option>
                </select>
            </li>
            <li class="nav-item col-1">
                <input type="submit" class="btn btn-success" value="Tìm kiếm">
            </li>
        </ul>
    </nav>
</div>