<html lang="vi">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bar/seeker-search-bar.css" >
</head>
<body>
<div class="container" id="search-bar">
    <div class="row" id="bar">
        <div class="col-md-5">
            <div class="input-group">
                <input type="search" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-auto">
            <select class="selectpicker" data-size="4" data-live-search="true" data-container="body">
                <%- include('../items/profess-item') %>>
            </select>
        </div>
        <div class="col-md-auto">
            <select class="selectpicker" data-size="4" data-live-search="true" data-container="body">
                <%- include('../items/city-item') %>>
            </select>
        </div>
        <div class="col-md-auto">
            <button type="button" class="btn btn-outline-success" >Tìm kiếm</button>
        </div>
    </div>
</div>
</body>
</html>
