<!DOCTYPE HTML>
<html>
<head>
    <%- include('../bar/css-init')%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bar/nav-bar-seeker.css" >
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg bg-light">
    <!-- LOGO COMPANY -->
    <a class="navbar-brand" href="/">
        <img src="images/logo.png" alt="logo-project" height="70px">
    </a>
    <ul class="nav navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/all-job">Tất cả công việc</a>
        </li>
        <!--<li class="nav-item">
            <a class="nav-link" href="#">Công ty</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Liên hệ</a>
        </li>-->
    </ul>

    <!-- CHECK LOGIN BY SEEKER -->
    <ul class="nav navbar-nav ml-auto">
        <% if (auth && auth.permission.S == "Seeker") { %>
            <li class="nav-item dropdown">
                <button class="btn btn-outline-dark" name="seeker-menu">
                    <span class="fas fa-align-justify fa-2x" />
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item btn btn-outline-light" href="/account">Tài khoản</a>
                    <a class="dropdown-item btn btn-outline-light">Quản lý hồ sơ</a>
                    <a class="dropdown-item btn btn-outline-light">Thông báo việc làm</a>
                    <a class="dropdown-item btn btn-outline-light" id="logout">Đăng xuất</a>
                </div>
            </li>
        <% } else { %>
            <li class="nav-item">
                <a class="nav-link" href="/register">Đăng ký</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Đăng nhập</a>
            </li>
        <% } %>
    </ul>
</nav>

</body>
<footer>
    <%- include('../bar/js-init')%>
    <script type="text/javascript" src="javascripts/bar/nav-bar-seeker.js"></script>
</footer>
</html>

