<html lang="vi">
<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bar/seeker-search-bar.css" >
</head>
<body>
<div class="container" id="search-bar">
    <div class="row" id="bar">
        <div class="col-md-8">
            <div class="input-group">
                <input type="search" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-dark">
                        <span class="fas fa-search"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <label class="col-sm-4">Tìm theo:</label>
                <select class="col-sm-8 selectpicker" data-container="body">
                    <option>Ngành nghề</option>
                    <option>Trình độ</option>
                    <option>Vị trí</option>
                </select>
            </div>
        </div>
    </div>
</div>
</body>
</html>
