<html>
<head>
    <title>Tất cả công việc</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/items/job-item.css">
</head>
<body>
<%- include('../bar/nav-bar-seeker') %>
<%- include('../bar/job-search-bar') %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <%- include('../items/job-item') %>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="lead">TIÊU ĐIỂM</h3>
                </div>
                <div class="card-body">
                    <img src="" class="card-img-top">
                    <h3 class="card-text font-weight-bold">DAI-ICHI VIỆT NAM</h3>
                    <i class="text-muted d-block">
                        <span>Một sự nghiệp xứng đáng</span>
                        <span>luôn chờ đợi những ứng viên tài năng</span>
                    </i>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>