<html>
<head>
    <title>Tất cả công việc</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/items/job-item.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/page/job-item.css">
</head>
<body>
<%- include('../bar/nav-bar-seeker') %>
<%- include('../bar/job-search-bar') %>
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <%- include('../items/job-item') %>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="lead">TIÊU ĐIỂM</h3>
                </div>
                <div class="card-body text-center">
                    <img src="/images/addon_image.jpg" class="card-img-top pb-4">
                    <h5 class="card-text pb-2">C.T Group</h5>
                    <i class="text-muted d-block pb-2">
                        Nhà phát triển đô thị toàn diện Môi trường làm việc hạnh phúc
                    </i>
                    <p style="font-size: 12px">
                        Trưởng Phòng Đào Tạo
                    </p>
                    <p style="font-size: 12px">
                        Chuyên Viên Tuyển Dụng
                    </p>
                    <p style="font-size: 12px">
                        Trưởng Phòng Quản Lý Thiết Kế
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer>
    <script type="text/javascript" src="/javascripts/page/all-job.js" ></script>
</footer>
</html>