<!DOCTYPE HTML>
<html>
<head>
    <%- include('../bar/css-init')%>
    <link rel="stylesheet" type="text/css" href="/stylesheets/page/directional.css" >
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid col">
            <img src="/images/seeker.jpg" alt="seeker">
            <a href="/register/seeker">Bạn là người tìm việc</a>
        </div>
        <div class="container-fluid col">
            <img src="/images/employer.jpg" alt="employer">
            <a href="/register/employer">Bạn là nhà tuyển dụng</a>
        </div>
    </div>
</div>
</body>
<footer>
    <%- include('../bar/js-init')%>
</footer>
</html>