<!doctype html>
<html>
<head>
    <%- include('../bar/head-setting') %>
    <link rel="stylesheet" href="stylesheets/employer-home.css"/>

    <script type="text/javascript" src="javascripts/home-role.js"></script>
</head>
<body>
<%- include('../bar/nav-bar-employer') %>
<main>
    <div class="jumbotron text-center d-block bg-info position-relative">
        <h1 class="font-weight-bold text-white">Giúp doanh nghiệp của bạn vươn xa</h1>
        <h3 class="text-white">Tìm đúng người trao đúng việc</h3>
        <button class="btn btn-outline-light position-absolute" name="e-role">
            Bạn là người tìm việc?
        </button>
    </div>
</main>
</body>
</html>