<html lang="vi">
<head>
    <title>Quản lý việc làm</title>
</head>
<body>
<%- include('../bar/nav-bar-manager') %>
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Chức danh</th>
            <th scope="col">Ngày đăng</th>
            <th scope="col">Số lần xem</th>
            <th scope="col">Hồ sơ ứng tuyển</th>
        </tr>
        </thead>
        <tbody>
        <% input.forEach(function (it) { %>
        <tr>
            <% var time = new Date(it.date?it.date:'') %>
            <th scope="row"><%=it.position%></th>
            <td><%-time.getDate()+'/'+time.getMonth()+'/'+time.getFullYear()%></td>
            <td></td>
            <td><%=it.applicants.length%></td>
        </tr>
        <% }) %>
        </tbody>
    </table>
</div>
</body>
</html>