<!DOCTYPE HTML>
<html>
<head>
    <%- include('../bar/css-init')%>
    <link type="text/css" rel="stylesheet" href="/stylesheets/page/login.css" >
</head>
<body>
<main>
    <div class="login-form">
        <form method="post" action="/login">
            <div class="container">
                <div class="form-group">
                    <label for="user">Tài khoản</label>
                    <input id="user" class="form-control" type="text" placeholder="Nhập tên đăng nhập" name="username" required>
                </div>
                <div class="form-group">
                    <label for="pass">Mật khẩu:</label>
                    <input id="pass" class="form-control" type="password" placeholder="Nhập mật khẩu" name="password" required>
                </div>
                <!-- SUBMIT -->
                <div class="form-group">
                    <input class="form-control btn btn-success" type="submit" value="Đăng nhập"><br>
                </div>
            </div>
        </form>
    </div>
</main>

</body>
<footer>
    <%- include('../bar/js-init')%>
</footer>
</html>