<!doctype html>
<html lang="vi">
<head>
</head>
<body>
<%- include('../bar/nav-bar-manager') %>
<main>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="fas fa-building mr-auto"/>
                <div class="ml-auto d-block">
                    <p>Việc làm đã đăng</p>
                    <h1 class="text-warning">0</h1>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fas fa-ticket mr-auto"/>
                <div class="ml-auto d-block">
                    <p>Tổng số người đã ứng tuyển</p>
                    <h1 class="text-warning">0</h1>
                </div>
            </div>
            <div class="col-md-4">
                <span class="fas fa-user-circle mr-auto"/>
                <div class="ml-auto d-block">
                    <p>Tuyển dụng thành công</p>
                    <h1 class="text-warning">0</h1>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>