<html lang="vi">
<head>
    <title>Mua gói đăng tuyển</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/items/package-item.css" >
</head>
<body>
<%- include('../bar/nav-bar-manager')%>
<div class="container" name="package">
    <%- include('../items/package-item')%>
</div>
</body>
</html>