<html lang="vi">
<head>
    <title>Quản lý nhân sự</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/page/seeker-manager.css">
</head>
<body>
<%- include('../bar/nav-bar-manager') %>
<main>
    <ul class="nav nav-pills row" role="tablist">
        <li class="nav-item col-sm-4">
            <a class="nav-link active" id="candidate-tab"
               data-toggle="tab" href="#candidate" role="tab"
               aria-controls="home" aria-selected="true">Ứng viên</a>
        </li>
        <li class="nav-item col-sm-4">
            <a class="nav-link" id="potential-tab"
               data-toggle="tab" href="#potential" role="tab"
               aria-controls="potential" aria-selected="false">Ứng viên tiềm năng</a>
        </li>
        <li class="nav-item col-sm-4">
            <a class="nav-link" id="recruited-tab"
               data-toggle="tab" href="#recruited" role="tab"
               aria-controls="potential" aria-selected="false">Đã tuyển</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade show active" id="candidate" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-responsive">
                <tbody>
                    <% input.forEach(function (it,index) { %>
                        <tr>
                            <td scope="col"><%=index%></td>
                            <td><%=it.last_name.S%></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="potential" role="tabpanel" aria-labelledby="profile-tab">

        </div>
        <div class="tab-pane fade" id="recruited" role="tabpanel" aria-labelledby="contact-tab">

        </div>
    </div>
</main>
</body>
</html>